.main {
  width: 100%;
  padding: 0.5rem;
  background: white;
}

.container {
  width: 100%;
  padding: 1rem;
}

.table {
  width: 100%;
  margin-top: 1rem;
}

.input {
  margin-bottom: 1rem;
  width: 100%;
}

.btn-container {
  margin-bottom: 1rem;
}

th,
td {
  border-bottom: 1px solid #c4dcf3;
  padding: 0.4rem 0.6rem;
}

th {
  background: #3b75e0;
  color: white;
}

tr:hover {
  background: #eef7ff;
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
}
