.container {
  padding: 1.25rem;
}
.table {
  margin-top: 1rem !important;
}

.input {
  margin-bottom: 1rem;
}
/* temporary  */
.custom-table {
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  margin-top: 1rem;
}
