.container {
  padding: 1rem;
  background: white;
}

.card {
  padding: 0.5rem;
}
.last-card {
  margin-bottom: 1rem;
}
.btn-container {
  /* margin-top: 1rem !important; */
  width: 100% !important;
  margin: 0 auto;
}
